
/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --font-logo-header: 'Yanone Kaffeesatz', sans-serif;
  --font-subheader: 'Montserrat', sans-serif;
  --font-text: 'Open Sans', sans-serif;

  --color-background: #f8f8f8;
  --color-background-secondary: #e4f7f7;
  --color-text: #262021;
  --color-text-secondary: #e7e7e7;
  --color-accent: #08146a;
  --color-accent-secondary: #13a1f3;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --radius: 25px;
  --shadow: 0px 10px 13px rgba(0, 0, 0, 0.25);
}

body {
  font-family: var(--font-text);
  font-size: 1rem;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}
