@import url('reset.css');

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Font and Color Variables */
:root {
    --font-logo-header: 'Yanone Kaffeesatz', sans-serif;
    --font-subheader: 'Montserrat', sans-serif;
    --font-text: "Open Sans", sans-serif;

    --color-background: #f8f8f8;
    --color-background-secondary:#e4f7f7;
    --color-text: #262021;
    --color-text-secondary: #e7e7e7;
    --color-accent: #08146a;
    --color-accent-secondary: #13a1f3;
}

/* Global Styles */
* {
    box-sizing: border-box;
    font-size: 1rem; /* 16px */
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
.navbar {
    background-color:var(--color-accent-secondary);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family:var(--font-text);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo {
    color: var(--color-background);
    text-decoration: none;
    font-family: var(--font-logo-header);
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    border: var(--color-accent);
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.25);
}

.btn-primary {
    font-family: var(--font-text);
    background-color: var(--color-accent);
    color: var(--color-background-secondary);
}

.btn-secondary {
    font-family: var(--font-text);
    background-color: var(--color-accent-secondary);
    color: var(--color-background);
}